table.container {
    border-collapse: separate;
    table-layout: auto;
    border-spacing: 0;
    min-width: 0;
    max-width: 100%;
    margin: 1rem 0;
    --border-color: rgba(0, 0, 0, 0.75);
    --table-header-color: rgba(0, 0, 0, 0.25);
    --table-row-color: rgba(0, 0, 0, 0);
    --border: 1px solid var(--border-color);
    --border-radius: 0.5rem;
}

table.container tr th,
table.container tr td {
    border-right: var(--border);
    border-bottom: var(--border);
    padding: 0.5rem 0.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}

table.container tr th:first-child,
table.container tr td:first-child {
    border-left: var(--border);
}

table.container tr th {
    background: var(--table-header-color);
    border-top: var(--border);
    text-align: center;
}

table.container tr td {
    background: var(--table-row-color);
}

/* top-left border-radius */
table.container tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}

/* top-right border-radius */
table.container tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}

/* bottom-left border-radius */
table.container tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius);
}

/* bottom-right border-radius */
table.container tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}