:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --grey50: #fafafa;
    --grey100: #f5f5f5;
    --grey200: #eeeeee;
    --grey300: #e0e0e0;
    --grey400: #bdbdbd;
    --grey500: #9e9e9e;
    --grey600: #757575;
    --grey700: #616161;
    --grey800: #424242;
    --grey900: #212121;
    --primary-color-50: var(--grey50);
    --primary-color-100: var(--grey100);
    --primary-color-200: var(--grey200);
    --primary-color-300: var(--grey300);
    --primary-color-400: var(--grey400);
    --primary-color-500: var(--grey500);
    --primary-color-600: var(--grey600);
    --primary-color-700: var(--grey700);
    --primary-color-800: var(--grey800);
    --primary-color-900: var(--grey900);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    box-sizing: border-box;
    color: inherit;
}

html,
body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: black;
    background: linear-gradient(to bottom right, #7DB0D2, #F2DEF4);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

html[lang^="zh"] h1,
html[lang^="zh"] h2,
html[lang^="zh"] h3,
html[lang^="zh"] h4,
html[lang^="zh"] h5,
html[lang^="zh"] h6 {
    font-weight: 600;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}
