.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    padding: 0;
    width: 100%;
    gap: var(--gap-main-content);
}

.container > .content {
    flex: 1 1 0;
    display: block;
    padding: 3rem;
    min-height: var(--min-height-main-content);
    overflow: hidden;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

.container > .content > *:only-child {
    min-height: calc(var(--min-height-main-content) - 6rem);
}

.container > .sidebar {
    flex: 0 0 18rem;
    min-height: var(--min-height-main-content);
    position: sticky;
    top: calc(var(--height-header) + var(--v-padding-global));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-main-content);
}