.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 3rem;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(--primary-color-50);
    min-height: var(--min-height-main);
    box-shadow: var(--box-shadow-card);
    width: 100%;
    max-width: 50rem;
}

.article > * {
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--primary-color-50);
    width: 100%;
    border: 1px solid var(--primary-color-500);
}