.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 3rem;
    padding-bottom: 3rem;
}

.container .category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.container .category > .icon {
    margin-left: auto;
}

.container .category > .icon > path {
    fill: var(--primary-color-500);
}

.container .category:hover > .icon > path {
    fill: var(--primary-color-700);
}

.container .category:active > .icon > path {
    fill: var(--primary-color-900);
}

.container .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 0.5rem;
}

.container .card > * {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}