.header {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.main {
    display: block;
    min-height: calc(100vh - 3rem);
    height: auto;
    width: 100%;
}

.main > * {
    min-height: calc(100vh - 3rem);
    width: 100%;
}

.footer {

}