.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 1.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
    max-width: 42rem;
    overflow: hidden;
}

.card > .left,
.card > .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
}

.card > .left {
    flex: 0 0 auto;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: var(--primary-color-50);
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.name {
    text-align: center;
    white-space: pre-wrap;
}

.hr {
    width: 4rem;
    height: 0.4rem;
    background: var(--primary-color-400);
    border: none;
    outline: none;
    margin: 0;
    border-radius: 0.5rem;
}


.card > .right {
    flex: 1 1 auto;
    align-items: flex-start;
    gap: 1.25rem;
    background-color: var(--primary-color-100);
}

.right > h3 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
}

.right > h4 {
    font-size: 1rem;
}

.right > .about {
    margin: 0 0 0.5rem 0;
    display: inline-block;
}

.right > .about > a {
    display: inline-block;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    min-width: 7rem;
    text-align: center;
}

.right > .about > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.right > .about > a:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.right > .description {
    margin: 0;
    white-space: pre-wrap;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}
